<!-- <mat-card>
    <mat-form-field>
        <input matInput [(ngModel)]="answer" placeholder="Who has the best dev tutorials?">
    </mat-form-field>
</mat-card>
<button mat-raised-button (click)="showAnswer()">Answer me</button>
<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div> -->
<ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="content">About</a></li>
</ul>

<router-outlet></router-outlet>